.ddwrapper {
  display: flex;
  min-height: 20px;
  /* flex-wrap: wrap; */
  font-size: 14px;
  height: 80%;
  color: white;
  width: 500px;
  justify-self: center;

}


.ddlist {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  padding: 4px;
  width: 210px;
  margin-top: 2px;
  position: absolute;
  background-color: white;
  z-index: 100;
  border: 1px rgb(221, 221, 221) solid;
  border-radius: 2px;




}


.ddbutton {
  display: flex;
  justify-content: center;
  background-color: blue;
  border-radius: 2px;
  padding: 2px 5px;
  color: rgb(255, 255, 255);
  border: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  align-content: center;

}



.ddheader {
  max-height: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;

  padding: 10px 12px;
  border-radius: 2px;
  background-color: blue;
  ;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-align: center;
  align-content: center;


}


.listwrapper {

  display: flex;
  min-height: 20px;
  flex-wrap: wrap;
  font-size: 14px;
  height: 80%;
  color: white;
  max-width: 240px;
  justify-self: center;
  background-color: lightblue;


}


.listheader {
  max-height: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;

  padding: 10px 12px;
  border-radius: 2px;
  background-color: blue;
  ;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-align: center;
  align-content: center;

}

.listlist {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  padding: 4px;
  width: 210px;
  margin-top: 2px;
  position: absolute;
  background-color: white;
  z-index: 100;
  border: 1px rgb(221, 221, 221) solid;
  border-radius: 2px;



}




.dragger {
  padding: 10px;
}


.div-button {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  font-size: 16px;
  border-radius: 2px;
  padding: 2px 5px;
  align-items: center;

  color: rgb(255, 255, 255);
  border: 0;
  width: 100%;
  text-align: left;


}



.menulist {
  position: relative;
}



.profileicon {
  height: 26px;
  padding: 2px;
  width: auto;
  fill: white;
}

.menulist {
  width: 300px;
  position: absolute !important;
  right: 0px;
  top: 65px;
  width: 160px;
}